 nav {
                background-color: rgba(215, 176, 251, 0.287);
            }
            nav a {
                color: black;
                text-align: center;
                font-size: 1em;
            }
            nav a:hover{
                background-color: purple;
                color: green;
            }
            nav a.active {
                background-color: orange;
                color: purple;
            }


nav > ul {
    display: flex;
}

nav > ul > li {
    padding: 1em;
}

nav a {
    text-decoration: none;
}