<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style2.css" rel="stylesheet">
    <title>Samir Ingle</title>
</head>


<body>

<div class="wrapper"> 
    <div class="name">
        <h1>Samir Ingle</h1>
    </div>
   
    <div class="pages">
        <a href="{% url 'home' %}">Work</a> | <a href="{% url 'about' %}">About</a>
    </div>

    <div class="bio">
        
        Software Engineer.<br>
        Concentration in Data Science. <br>
        
    </div>

    <div class="skills">
        <h2>Skills</h2>
        <br>
        Python<br>
        Django<br>
        HTML<br>
        CSS 
        
    </div>

    <div class="projects">
        <h2>Projects</h2>
    
    </div>

    <div class="contact">
        <form action="process.php" method="POST">

        <h2>Contact</h2><br>
        <div>
        <input type="text" name="firstlast" placeholder="Name"><br>
        </div>
        <br>
        <div>
        <input type="email" name="email" placeholder="your@email.com"><br>
        </div>
        <div>
        <input type="textarea" name="textarea" placeholder="Message"><br>
        </div>
        <div>
        <input type="checkbox" name="Subscribe to my blog">Subscribe<br>
        </div>
        <div>
        <input type="submit" name="submit" value="submit"><br>
        </div>

    </div>

    <div class="footer">                
        <a href="https://github.com/SamirIngley"><img src="images/logos/githubpng/GitHub-Mark-Light-120px-plus.png" alt="github" ></a>
        <a href="https://medium.com/@SamirIngle"><img src="images/logos/medium_logo.png" alt="medium"></a>
        <a href="https://www.linkedin.com/in/samiringle/"><img src="images/logos/LinkedIn-Logos/LI-In-Bug.png" alt="linkedin"></a>
    </div>

</div>
</body>

</html>