<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="style2.css" rel="stylesheet">
    <title>Samir Ingle</title>
</head>


<body>

<dic class="wrapper"> 
    <div class="name">
        <h1>Samir Ingle</h1>
    </div>
   
    <div class="pages">
        <a href="{% url 'home' %}">Work</a> \ <a href="{% url 'about' %}">About</a>
    </div>

    <div class="bio">
        
        I'm a 23 year old Software Engineer.<br>
        My concentration is in Data Science. <br>
        Check out some of my projects
        
    </div>

    <div class="skills">
        <h2>Skills</h2>
        <br>
        Python<br>
        Django<br>
        HTML<br>
        CSS 
        
    </div>

    <div class="projects">
        <h2>Projects</h2>
    
    </div>

    <div class="contact">
        <h2>Contact</h2><br>
        
        <input type="text" name="firstlast" placeholder="Name"><br>
        <input type="email" name="email" placeholder="your@email.com"><br>
        <input type="textarea" name="textarea" placeholder="Message"><br>
        <input type="checkbox" name="Subscribe to my blog">Subscribe<br>
        <input type="submit" name="submit" value="submit"><br>

    </div>
</dic>
</body>

</html>