body {
    background-color: wheat;
}
.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);

    grid-template-areas: "n . . ."
                         ". b b ."
                         ". s s ."
                         ". c c ."
}

.wrapper>div {
    display: flex;
    font-family: Helvetica;
    padding: 50px;
    font-size: 100px;
    justify-content: center;
}

.name {
    grid-area: n;
    /* padding: */
}

.bio {
    grid-area: b;
}

.skills {
    grid-area: s;
}

.contact {
    grid-area: c;
}