body {
    background-color: wheat;
}
.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "n . p"
                         ". b ."
                         ". s ."
                         ". s ."
                         ". j ."
                         ". c ."
}

.wrapper>div {
    display: flex;
    font-family: nimbus-sans,Helvetica,Arial, Helvetica, sans-serif;
    padding: 10px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 70px;
}


.name {
    grid-area: n;
    /* padding: */
}

.pages {
    grid-area: p;
}

.bio {
    grid-area: b;
    display: flex;
    text-align: left;
    font-size: 80px !important;
    padding: 500px;
}

.skills {
    grid-area: s;
}

.projects {
    grid-area: j;
}

.contact {
    grid-area: c;
}