body {
    background-color: wheat;
}
.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: "n . p"
                         ". b ."
                         ". s ."
                         ". j ."
                         ". c ."
                         ". f ."
}

.wrapper>div {
    display: flex;
    font-family: nimbus-sans,Helvetica,Arial, Helvetica, sans-serif;
    padding: 40px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    height: 70px;
}


.name {
    grid-area: n;
    /* padding: */
}

.pages {
    grid-area: p;
}

.pages > a {
    padding: 15px;
    text-decoration: none;
    color: gray;
    font-size: 25px;
}

.bio {
    grid-area: b;
    display: flex;
    text-align: left;
    font-size: 80px !important;
    padding: 500px;
    height: 700px !important;
}

.skills {
    grid-area: s;
    height: 1000px !important;
    font-size: 60px !important;
}

.projects {
    grid-area: j;
    height: 1000px !important;
    font-size: 60px !important;
}

.contact {
    grid-area: c;
    text-align: center;
    height: 800px !important;
    font-size: 60px !important;
}

.wrapper .contact > form >h2 {
    padding: 50px !important;
}

.footer {
    grid-area: f;
}


.footer > a {  
    width: 60px;
    height: 60px;
    display: block;
    margin: 20px;
}

.footer > a > img {
width: 100%;
height: auto;
}

.footer > a:nth-child(3) {
    width:68px;
    height: auto;
}