<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <center><title>Samir Ingle</title></center>
        <link href="style.css" rel="stylesheet">
    </head>
    <body>
        <div class="header-right">
            <nav>
                <div class='dropdown'>
                    <button class='dropbtn'>pages</button>
                    <div class="dropdown-content">
                        <a href="/about">about</a>
                        <a href="/projects">projects</a>
                        <a href="/contact">contact</a>
                    </div>
                </div>
            </nav>
        </div>

        <div class="main-content">
            <figure>
                <!-- <img src="static/images/8-bit.png" alt="samir-profile-pic" style="width:100%;">  -->
                <!-- <figcaption>Samir Ingle headshot</figcaption> -->
            </figure>
        </div>
        
        <br>
            
        </p>
        <center>
        <div class="footer">
            <br>
            <a href="https://github.com/SamirIngley">Github</a>
            <a href="https://medium.com/@SamirIngle">Medium</a>
            <a href="https://www.linkedin.com/in/samiringle/">LinkedIn</a>
        </div>
        </center>
        
    </body>
</html>