

body {
    display: block;
    background-color: rgb(252, 233, 206);
    font-family: nimbus-sans,Helvetica,Arial, Helvetica, sans-serif;

    margin: 20px;
}



/* ********** NAV BAR ************ */
nav {
    width: calc(100% - 240px);
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-right: 100px;
}

nav > div:nth-child(1) {
    font-size: 2em;
}

.name > a {
    text-decoration: none;
}

.name > a:link {
    color:black;
}

.name > a:visited {
    color:black;
}

.pages_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
}

.pages_text > a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
}

.pages_text > a:hover {
    color: black;
}


.home {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 4em;
    padding-top: 300px;
    padding-left: 100px;
    padding-bottom: 350px;
    padding-right: 100px;
    height: 400px;

}


.work {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 200px;
    padding-left: 100px;
    padding-bottom: 350px;
    padding-right: 100px;
    height: 400px;
}

.work_text > a {
    text-decoration: none;
}


.about {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    padding-left: 100px;
    padding-bottom: 300px;
    padding-right: 100px;
    height: 500px;
}
