

body {
    display: block;
    background-color: rgb(252, 233, 206);
    width: calc(100vw - 40px);
    font-family: nimbus-sans,Helvetica,Arial, Helvetica, sans-serif;
    margin: 20px;
    overflow-x: hidden;

}

.scroll-parent {
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    height: 100vh;

}

.scroll-parent > div {
    scroll-snap-align: start;
}


/* ********** NAV BAR ************ */
nav {
    width: calc(100% - 240px);
    position: fixed;
    display: block;
    justify-content: space-between;
    align-items: baseline;
    padding-top: 50px;
    padding-left: 100px;
    padding-bottom: 50px;
    padding-right: 100px;
}


.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.name > a {
    text-decoration: none;
    font-size: 2em;
}

.name > a:link {
    color:black;
}

.name > a:visited {
    color:black;
}

.links {
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
}

.links > div {  
    width: 30px;
    height: 30px;
    margin-left: 25px;
}

.links > div > a > img {
width: 100%;
height: auto;
}


.links > div > a > :nth-child(3) {
    padding-bottom: 5px;
}


.links > div > a > img {
    color: rgba(122, 122, 122, 0.726);
    opacity: 0.5;
}
  
/* visited link */
.links > div > a > img:visited {
    color: rgba(126, 126, 126, 0.548);
}

/* mouse over link */
.links > div > a > img:hover {
    color: rgb(0, 0, 0);
    opacity: 1.0;
    transform: scale(1.1);
}


.pages_text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 150px;
}

.pages_text > a {
    text-decoration: none;
    color: gray;
    font-size: 25px;
}

.pages_text > a:hover {
    color: black;
    transform: scale(1.1);
}


.home_page {
}

.home_text {
    margin-left: 10%;
    font-size: 5em;
    font-family: 'Roboto Mono', monospace;
}

.home {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-top: 350px;
    height: 100vh;
    /* width: 100vw; */
}

h1 {
    font-size: 10em;
    margin-bottom: 10px;
    margin-left: 10%;
}

.work_page {
    font-size: 3em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    

    height: 100vh;
    width: 100vw;
}

.work_text > a {
    text-decoration: none;
    text-align: left;
}


.about_page {
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    height: 100vh;
    width: 100vw;
}


main {
    border-right: .05em solid;
    animation: caret 1s steps(1) infinite;
  }
  
@keyframes caret {
50% {
    border-color: transparent;
}
}

  
  
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    body {
        /* width: 50%; */
    }

    main {
        word-break: break-word;
    }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    body {
        /* width: 50%; */
        font-size: 1em;
    }

    
} 



/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    body {
        /* width: 50%; */
    }
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    body {
        width: 100%
    }
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    body {
        width: 100%
    }
}
