<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hire Samir.</title>
    <link href="static/style3.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />

    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>

</head>

<body>
    <div class="home_page">

        <nav>
            <div class="top">
                <div class="name">
                </div>
                <div class="pages">
                    <div class="pages_text">
                        <a href="#work">Work</a>
                        <a href="#about">About</a>
                    </div>
                </div>
            </div>

            
            <div class="links">
                <div class="github" data-aos="fade-down" data-aos-delay="250" data-aos-duration="900"
                data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-anchor-placement="top-center"><a href="https://github.com/SamirIngley"><img src="static/images/iconmonstr_png/iconmonstr-github-1-240.png"></a></div>
                <div class="medium" data-aos="fade-up" data-aos-delay="350" data-aos-duration="700"
                data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-anchor-placement="top-center"><a href="https://medium.com/@SamirIngle"><img src="static/images/iconmonstr_png/iconmonstr-medium-1-240.png"></a></div>
                <div class="linkedin" data-aos="fade-down" data-aos-delay="10" data-aos-duration="800"
                data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-anchor-placement="top-center"><a href="https://www.linkedin.com/in/samiringle/"><img src="static/images/iconmonstr_png/iconmonstr-linkedin-1-240.png"></a></div>
                <div class="twitter" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000"
                data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-anchor-placement="top-center"><a href="https://twitter.com/samirngle"><img src="static/images/iconmonstr_png/iconmonstr-twitter-1-240.png"></a></div>
            </div>
        </nav>


        <div class="home" id="home" data-aos="fade-in" data-aos-delay="200" data-aos-duration="900" data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-anchor-placement="top-center">
            <h1>Samir Ingle</h1>
            <div class="home_text">
                <main>
                </main>
            </div>
        </div>

    </div>





    <div class="work_page" id="work">

        <div class="work_title" data-aos="fade-right" data-aos-duration="2000">
            <h2>Projects</h2>
        </div>

        <div class="work_text" data-aos="fade-left" data-aos-delay="100" data-aos-duration="1000"
            data-aos-easing="ease-in-out" data-aos-mirror="true" data-aos-anchor-placement="top-center">

            <a href="https://markov-tweet-generator.herokuapp.com/">Tweet Generator</a>
            <p>Recipe Blog </p>
            <p>Python Django HTML CSS</p>
        </div>

    </div>





    <div class="about_page">

        <div class="about" id="about">
            <div data-aos="fade-bottom" data-aos-duration="900" data-aos-easing="ease-in-out" data-aos-mirror="true"
                data-aos-anchor-placement="bottom-bottom">
                <h2>About</h2>
                <p>Suite boi.</p>
            </div>
        </div>

    </div>

    </div>

    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script>
        AOS.init();
    </script>
</body>

</html>

<script>
    document.addEventListener('DOMContentLoaded', function (event) {
        // array with texts to type in typewriter
        var dataText = ["Software Engineer.", "Concentration in Data Science."];

        // type one text in the typwriter
        // keeps calling itself until the text is finished
        function typeWriter(text, i, fnCallback) {
            // check if text isn't finished yet
            if (i < (text.length)) {
                // add next character to h1
                document.querySelector("main").innerHTML = text.substring(0, i + 1) +
                    '<span aria-hidden="true"></span>';

                // wait for a while and call this function again for next character
                setTimeout(function () {
                    typeWriter(text, i + 1, fnCallback)
                }, 80);
            }
            // text finished, call callback if there is a callback function
            else if (typeof fnCallback == 'function') {
                // call callback after timeout
                setTimeout(fnCallback, 700);
            }
        }
        // start a typewriter animation for a text in the dataText array
        function StartTextAnimation(i) {
            if (typeof dataText[i] == 'undefined') {
                setTimeout(function () {
                    StartTextAnimation(100);
                }, 10000);
            }
            // check if dataText[i] exists
            if (i < dataText[i].length) {
                // text exists! start typewriter animation
                typeWriter(dataText[i], 0, function () {
                    // after callback (and whole text has been animated), start next text
                    StartTextAnimation(i + 1);
                });
            }
        }
        // start the text animation
        StartTextAnimation(0);
    });
</script>